div {
    border: 1px solid rgb(16, 16, 173);
    margin: 20px;
    padding: 10px;
    background-color: rgba(203, 203, 243, 0.519);
    border-radius: 15px;
    box-shadow: 5px 5px #4f3131;
}

#icono_usuario {
    width: 10%;
    float: left;
    border-radius: 50%;
}

body {
    text-align: center;
    font-family: "Nunito", sans-serif;
    background: linear-gradient(to right, rgb(27, 37, 179), rgb(0, 0, 0));
}

.titulo {
    text-shadow: 2px 1px #6a5757;
}